<?xml version="1.0" encoding="UTF-8"?>
<ruleSet xmlns="com.kingdee.bos.metadata">
    <package>com.kingdee.eas.fdc.finance.app</package>
    <name>OtherPaymentRuleSet</name>
    <alias>ruleSet[com.kingdee.eas.fdc.finance.app.OtherPaymentRuleSet].alias</alias>
    <description>ruleSet[com.kingdee.eas.fdc.finance.app.OtherPaymentRuleSet].description</description>
    <userDefined>true</userDefined>
    <resource>
        <rs key="ruleSet[com.kingdee.eas.fdc.finance.app.OtherPaymentRuleSet].alias">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.fdc.finance.app.OtherPaymentRuleSet].description">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
    </resource>
</ruleSet>

